<div class="full-width" style="text-align: center; margin-top: 20px;">
    <mat-card-title>List Users</mat-card-title>
</div>

<div style="position: absolute; width: 95%; text-align: right; top: 75px;">
    <button mat-mini-fab color="primary" matTooltip="Click to add new User System" 
        routerLink="/user-systems/form"
        style="margin-right: 10px;">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>

<br/>

<table mat-table [dataSource]="listUsers" class="mat-elevation-z8" >

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >ID</th>
        <td mat-cell *matCellDef="let userSystem"> {{ userSystem.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let userSystem" >{{ userSystem.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let userSystem">{{ userSystem.email }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let userSystem">
            <button mat-mini-fab color="primary" matTooltip="Click to Edit" 
                    style="margin-right: 10px;" routerLink="/user-systems/form/{{ userSystem.id }}">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Click to Delete"
                (click)="confirmDialogDelete(userSystem)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>

<mat-paginator [length]="totalElements"
            [pageSize]="5" 
            [pageSizeOptions]="[5, 10, 20]" 
            (page)="paginator($event)"
            style="width: 95%;">
</mat-paginator>