<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Login</mat-card-title>
      <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Email" required name="input_email"
                     [(ngModel)]="email" #input_email="ngModel">
                <mat-error *ngIf="input_email.invalid">Email is required field</mat-error>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required
                     minlength="3" maxlength="10" name="input_password" [(ngModel)]="password"
                     #input_password="ngModel">
                <mat-error *ngIf="input_password.errors && input_password.errors.required">
                  Password is required field
                </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button type="button" (click)="login()" mat-raised-button color="primary" 
                    class="enter-button">
              Sign in
            </button>
          </form>
        </mat-card-content>
    </mat-card>
  </div>
  